@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-colour: #F3F5F9;
    --welcome-colour: black;
    --secondary-colour: #73E2CA;
    --shape-colour: #97C7C3;
    --highlight-colour: #50FAD6;
    --input-colour: #bcbcbc;
}

.dark-theme{
    --primary-colour: #646264;
    --welcome-colour: #F3F5F9;
    --secondary-colour: #D69DE6;
    --shape-colour: #DD60FF;
    --highlight-colour: #E811FE;
    --input-colour: #bcbcbc;
}

section{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-colour);
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.status{
    display: block;
    position: relative;
    font-size: 35px;
}

#Welcome{
    color: var(--welcome-colour);
}

#current{
    font-size: 25px;
    color: var(--shape-colour);
}

#c_status{
    margin-top: -10px;
    color: var(--secondary-colour);
}

.aboutMe,
.skills,
.projects,
.contactMe{
    font-size: 14px;
    display: block;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.projects{
    height: 140vh;
}
.about{
    width: 100%;
    padding: 100px 0px;
}

.about img{
    width: 360px;
    margin: 50px;
    margin-top: 150px;
    border-radius: 4%;
}

#txt{
    width: 750px;
    font-size: 20px;
    color: var(--welcome-colour);
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#skills{
    padding-bottom: 100px;
}

.CMcontainer{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw;
    width: 90%;
    max-width: 600px;
    height: 700px;
    border-radius: 10px;
}

form h2{
    color: var(--shape-colour);
    font-weight: 800;
    font-size: 30px;
}

form input, form textarea{
    border: 0;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background-color: var(--input-colour);
    font-size: 16px;
}

.linksBtm a{
    font-size: 40px;
    color: var(--shape-colour);
    margin: 20px 10px;
    margin-bottom: 100px;
}

.percentage{
    height: 14px;
    background: var(--secondary-colour);
}

.index{
    height: 100vh;
    align-items: center;
}

.landing{
    width: 100%;
    min-height: 100vh;
}

.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: var(--shape-colour);
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.nav_items{
    display: flex;
}

.nav_items li{
    list-style: none;
    margin: 0 15px;
}

.nav_items li a{
    color: var(--shape-colour);
    font-size: 20px;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav_items li a:hover,
.links a:hover{
    color: var(--highlight-colour);
}

.links a{
    font-size: 30px;
    color: var(--shape-colour);
    margin: 20px 10px
}

.shapes{
    top: 0;
    left: 0;
    width: 100vh;
    height: 80%;
    overflow: hidden;
}

@keyframes animate{
    0%{
        opacity: 0.6;
        border-radius: 0;
        transform: translateY(0) rotate(0deg);
    }
    100%{
        opacity: 0;
        border-radius: 50%;
        transform: translateY(1000px) rotate(720deg);
    }
}

.shapes div{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: var(--shape-colour);
    top: -150px;
    animation: animate 25s linear infinite;
}

.shapes div:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.shapes div:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.shapes div:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
}

.shapes div:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.shapes div:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 20s;
}

.shapes div:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.shapes div:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 4s;
}
.shapes div:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 4s;
    animation-duration: 45s;
}

.shapes div:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.shapes div:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
} 

.wrapper{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 10% 0px;
    overflow: hidden;
}
.cols{
    width: 60%;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 4px;
}

.topline::after{
    position: absolute;
    content: ' ';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: var(--shape-colour);
}   

h1{
    display: block; 
    font-size: 6em;
    font-weight: 800;
    color: var(--shape-colour);
}

.about h1{
    padding-left: 100px;
}

.multiText{
    color: var(--secondary-colour);
    text-transform: capitalize;
}

p{
    display: block;
    padding-top: 10px;
    width: 90%;
    font-size: 1.6rem;
    color: var(--welcome-colour);
}

.btn{
    display: block;
    position: relative;
    width: 100%;
}

.container{
    display: inline-block;
}

.card{
    width: 400px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    padding: border-box;
    margin: 10px 40px;
    border: 1px solid var(--welcome-colour);
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.container:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card p{
    font-size: 16px;
    color: var(--welcome-colour);
}

.front1, .back1,
.front2, .back2,
.front3, .back3,
.front4, .back4,
.front5, .back5,
.front6, .back6,
.front7, .back7,
.front8, .back8,
.front9, .back9{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.front1,
.front2,
.front3,
.front4,
.front5,
.front6,
.front7,
.front8,
.front9{
    background-position: center;
    background-size: cover;
}

.front1{
    background-image: url(/static/imgs/StreathamGo.png);
}

.front2{
    background-image: url(/static/imgs/tetris.png);
}

.front3{
    background-image: url(/static/imgs/personalWebsite.png);
}

.front4{
    background-image: url(/static/imgs/WeatherApp.png);
}

.front5{
    background-image: url(/static/imgs/cardGame.jpg);
}

.front6{
    background-image: url(/static/imgs/cycling_management.jpg);
}

.front7{
    background-image: url(/static/imgs/golfswing.png);
}

.front8{
    background-image: url(/static/imgs/jurassic.png);
}

.front9{
    background-image: url(/static/imgs/url-shortener.jpg);
}

.back1, 
.back2,
.back3,
.back4,
.back5,
.back6,
.back7,
.back8,
.back9{
    background-color: lightgrey;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back1 h2,
.back2 h2,
.back3 h2,
.back4 h2,
.back5 h2,
.back6 h2,
.back7 h2,
.back8 h2,
.back9 h2{
    font-size: 25px;
    color: var(--welcome-colour);
    text-align: center;
}

.container a{
    color: var(--shape-colour);
    font-size: 50px;
    margin: 20px 10px
}

.container a:hover{
    color: var(--highlight-colour);
}

button, .btn{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: var(--shape-colour);
    border-radius: 10px;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
}

.btn{
    text-decoration: none;
    width: 300px;
}

button:hover, .btn:hover{
    background-color: var(--secondary-colour);
}


@media (max-width: 1450px){

    .card{
        width: 300px;
        height: 300px;
    }

    .back1 h2,
    .back2 h2,
    .back3 h2,
    .back4 h2,
    .back5 h2,
    .back6 h2,
    .back7 h2
    .back8 h2,
    .back9 h2{
        font-size: 16px;
    }

    .container p{
        font-size: 13px;
    }
}
